{% extends "base.html" %}

{% block content %}

    <!-- start: Page Title -->
    <div id="page-title">

        <div id="page-title-inner">

            <!-- start: Container -->
            <div class="container">

                <h2><i class="ico-group ico-white"></i>Acerca de Nosotros</h2>

            </div>
            <!-- end: Container  -->

        </div>  

    </div>
    <!-- end: Page Title -->
    
    <!--start: Wrapper-->
    <div id="wrapper">
                
        <!--start: Container -->
        <div class="container">
    
            <!--start: Row -->
            <div class="row">
        
                <div class="span8">
                    
                    <!-- start: About Us -->
                    <div id="about">                        
                        <p>
                            Especialistas en Venta y Alquiler en Arroyo de la Vega, El Soto de la Moraleja, Encinar de los Reyes, Alcobendas….. Les ofrecemos una amplia oferta de viviendas de variada  tipología, dotadas de los servicios necesarios para ofrecer total autonomía a sus usuarios.
                        </p>
                        <p>
                            Consultora inmobiliaria con más de 15 años de experiencia en el sector, te asesoraremos en las diferentes cuestiones que tu proyecto de alquiler o venta requieran.
                        </p>
                        <br/>
                        <div class="hero-unit">
                            <p>
                                <h2>“Contacte con  nosotros,  le ofreceremos el mejor y más completo servicio”</h2>
                            </p>
                        </div>
                        <div class="hero-unit">
                            <p>
                                <h2>“Es el resultado de un largo camino de esfuerzo y dedicación, con un objetivo, la profesionalidad”</h2>
                            </p>
                        </div>
                           


                    </div>  
                    <!-- end: About Us -->

                    
                </div>  
                
                <div class="span4">
                    
                    <!-- start: Sidebar -->
                    <div id="sidebar">

                        <!-- start: Team -->    
                    <div id="team">                                                            
                        <!-- start: Row -->
                        <div class="row">
                        
                            <!-- start: About Member -->
                            <div class="span4">                                
                                <div class="team-name">Linda Tinao Toledano <span> / Propietaria</span></div>
                                <p>
                                     Con más de 30 Años en el sector Inmobiliario, fue pionera en la Venta y alquler de Arroyo de la Vega.<br>
                                     Es una gran Emprendedora, fundando la primera Empresa de Servicios de Madrid.<br><br>

                                     Debido a su experiencia y profesionaliada tiene una gran variedad de producto en exclusiva, además de poder hacer gala de haber vendido las mejores y exclusivas  casas de la Moraleja.
                            </div>         
                            <!-- end: About Member -->
                        </div>
                    </div>
                    <!-- end: Team -->
                    </div>
                    <!-- end: Sidebar -->
                    
                </div>
                
            </div>
            <!--end: Row-->
    
        </div>
        <!--end: Container-->
    </div>
    <!-- end: Wrapper  -->          

{% endblock content %}