{% extends "base.html" %}

{% block content %}

	<!-- start: Page Title -->
	<div id="page-title">

		<div id="page-title-inner">

			<!-- start: Container -->
			<div class="container">

				<h2><i class="ico-home ico-white"></i>Alquiler</h2>

			</div>
			<!-- end: Container  -->

		</div>	

	</div>
	<!-- end: Page Title -->
	
	<!--start: Wrapper-->
	<div id="wrapper">
				
		<!--start: Container -->
    	<div class="container">
	
			<!--start: Row -->
	    	<div class="row">
		
				<div class="span8">
					
					<!-- start: About Us -->
					<div id="about">						
						
						<p><h3>Le ofrecemos:</h3></p>
						
                        <ul class="check_list">
                            <li>AAAAAAmplia Oferta de una exclusiva selección de viviendas</li>
                            <li>Consultaría y Asesoramiento.</li>
                            <li>Negociación de condiciones.</li>
                            <li>Actualizaciones de renta.</li>
                            <li>Control de la fianza y garantías adicionales.</li>
                            <li>Elaboración de documentos de Arras y Contrato de Arrendamiento.</li>
                            <li>Contratación y cambios de domiciliación de suministros.</li>
                            <li>Contratación y supervisión del mantenimiento de inmuebles</li>
                            <li>Detección y resolución de incidencias de inmuebles.</li>
                            <li>Servicio Integral de Atención al Cliente durante toda su estancia.</li>
                        </ul>   
                           


			</div>	
					<!-- end: About Us -->

					
				</div>	
				
				<div class="span4">
					
					<!-- start: Sidebar -->
					<div id="sidebar">

                        <p align="center"> Aquí va otra foto</p>

					</div>
					<!-- end: Sidebar -->
					
				</div>
				
			</div>
			<!--end: Row-->
	
		</div>
		<!--end: Container-->
	</div>
	<!-- end: Wrapper  -->			

{% endblock content %}