{% extends "base.html" %}

{% block head_script %}
<style type="text/css">
    #id_email{
        width: 250px;
    }

    #id_mensaje{
        width: 250px;
    }

    #id_captcha_1{
        width: 75px;
    }

    .errorlist{ color:red;}
</style>
{% endblock %}

{% block content %}
   <!--start: Wrapper-->
    <div id="wrapper">
              
        <!--start: Container -->
        <div class="container">            

    	<!-- start: Map -->
    		<div align='center'>

    			<!-- starts: Google Maps -->
    	<iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Avenida+de+la+Vega,8,+Alcobendas&amp;aq=0&amp;oq=Avenida+de+la+Vega,+Alcobendas&amp;sll=40.532459,-3.629436&amp;sspn=0.013536,0.018389&amp;ie=UTF8&amp;hq=&amp;hnear=Av+de+la+Vega,+28108+Alcobendas,+Madrid&amp;t=m&amp;ll=40.532459,-3.629436&amp;spn=0.022832,0.068665&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Avenida+de+la+Vega,8,+Alcobendas&amp;aq=0&amp;oq=Avenida+de+la+Vega,8,+Alcobendas&amp;sll=40.532459,-3.629436&amp;sspn=0.013536,0.018389&amp;ie=UTF8&amp;hq=&amp;hnear=Av+de+la+Vega,8,+28108+Alcobendas,+Madrid&amp;t=m&amp;ll=40.532459,-3.629436&amp;spn=0.022832,0.068665&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
    			<!-- end: Google Maps -->
    		</div>
    		<!-- end: Map -->	
    		
    		<!-- start: Wrapper -->	
    		<div id="wrapper">		

    			<!-- start: Container -->	
    			<div class="container">
    				
    				<!-- start: Row -->
    				<div class="row" >
                        <div class="span8 offset2 pagination-centered">
                            {% if respuesta == 'ok' %}
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                El correo se ha enviado correctamente...
                            </div>
                            {% endif %} 
                        </div>    				
    					<!-- start: Contact Info -->
    					<div class="span3 offset2 pagination-centered">
    						<div class="title"><h3>Informaci&oacute;n de Contacto</h3></div>
    						<p>
    							<b>Inversiones Inmoviliarias La Moraleja</b>
    						</p>
    						<p>
    							Avenida de la Vega, 8
    						</p>
    						<p>
    							1 - Bajo B
    						</p>
    						<p>	
    							28108 Alcobendas, Madrid
    						</p>	
    						<p>	
    							Tel&eacute;fono: (+34) 91.661.68.84
    						</p>
    						<p>
    							Email: info@inversioneslamoraleja.com
    						</p>
    						<p>
    							Web: inversioneslamoraleja.com
    						</p>
    					</div>
    					<!-- end: Contact Info -->		

    					<!-- start: Contact Form -->
    					<div class="span4 offset2">
    						<div class="title"><h3>Formulario de Contacto</h3></div>
    						<!-- start: Contact Form -->
    						<div id="contact-form">
    							<form method="post" action="{%url 'contacto'%}">{% csrf_token %}

    								<fieldset>
    									<div class="clearfix">
                                            {{ form.nombre.errors }}
                                            <label for="id_nombre">Nombre:</label>
                                            {{ form.nombre }}
    									</div>

    									<div class="clearfix">
                                            {{ form.email.errors }}
                                            <label for="id_email">Email:</label>
                                            {{ form.email }}
    									</div>

    									<div class="clearfix">
                                            {{ form.mensaje.errors }}
                                            <label for="id_mensaje">Mensaje:</label>
                                            {{ form.mensaje }}
    									</div>
                                        <div class="clearfix">
                                            {{ form.captcha.errors }}
                                            <label for="id_captcha">IIntroduzca el texto que aparece:</label>
                                            {{ form.captcha }}
                                        </div>
                                        <br>
    									<div class="actions">
    										<button tabindex="3" type="submit" class="btn btn-succes btn-large">Enviar Mensaje</button>
    									</div>
    								</fieldset>

    							</form>

    						</div>
    						<!-- end: Contact Form -->

    					</div>
    					<!-- end: Contact Form -->
    				</div>
    			</div>
    		</div>
    </div>
</div>

{% endblock content %}
{% block tail_script %}
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 5000);
</script>
{% endblock %}