{% extends "base.html" %}

{% block content %}
   <!--start: Wrapper-->
    <div id="wrapper">
                
        <!--start: Container -->
        <div class="container">       
<!-- start: Flexslider -->
            <div class="slider">
            
                <div id="flex1" class="flexslider">
                    <ul class="slides">

                        <li>
                            <img src="/static/img/slider/slider1.png" alt="" />
                            <div class="slide-caption hidden-phone">
                                <p>
                                    La mayor selección de inmuebles, en las zonas más exclusivas de
                                    Madrid.
                                </p>
                            </div>
                        </li>

                        <li>
                            <img src="/static/img/slider/slider2.jpg" alt="" />
                            <div class="slide-caption hidden-phone">                                
                                <p>
                                    Deje que le asesoremos, nosotros podremos ayudarle en la búsqueda de su
                                    nueva vivienda.
                                </p>
                            </div>
                        </li>

                        <li>                        
                            <img src="/static/img/slider/slider3.jpg" alt="" />
                            <div class="slide-caption hidden-phone">                                
                                <h3>Somos su inmobiliaria</h3>
                            </div>
                        </li>

                    </ul>
                </div>
            
            </div>
            <!-- end: Flexslider -->
            
            <hr>
    
            <!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <p>
                    Deposite su confianza en nosotros, vive,  disfruta tu espacio con la tranquilidad de que te ayudaremos a encontrar o gestionar lo que necesites….
                </p>
                <p><a class="btn btn-success btn-big">Leer M&aacute;s &raquo;</a></p>
            </div>
            <!-- end: Hero Unit -->
    </div>
</div>
{% endblock content %}