{% extends "base.html" %}

{% block content %}

    <!-- start: Page Title -->
    <div id="page-title">

        <div id="page-title-inner">

            <!-- start: Container -->
            <div class="container">

                <h2><i class="ico-home ico-white"></i>Venta</h2>

            </div>
            <!-- end: Container  -->

        </div>  

    </div>
    <!-- end: Page Title -->
    
    <!--start: Wrapper-->
    <div id="wrapper">
                
        <!--start: Container -->
        <div class="container">
    
            <!--start: Row -->
            <div class="row">
        
                <div class="span8">
                    
                    <!-- start: About Us -->
                    <div id="about">                        
                        
                        <p><h3>Le ofrecemos:</h3></p>
                        
                        <ul class="check_list">
                            <li>Realización de informes indicando las diferentes gestiones que se realizan sobre su propiedad (visitas, publicidad etc.…)</li>
                            <li>Asesoramiento y Consultaría. ( Documentación e Impuestos)</li>
                            <li>Identificación del cliente potencial</li>
                            <li>Negociación.</li>
                            <li>Preparación y asistencia a firma de Contrato de Arras.</li>
                            <li>Preparación y asistencia a firma de la Escritura Publica.</li>
                            <li>Valoración del Inmueble</li>                        
                            <li>Estricta confidencialidad</li>
                        </ul>   
    
            </div>  
                    <!-- end: About Us -->

                    
                </div>  
                
                <div class="span4">
                    
                    <!-- start: Sidebar -->
                    <div id="sidebar">

                        <p align="center"></p>

                    </div>
                    <!-- end: Sidebar -->
                    
                </div>
                
            </div>
            <!--end: Row-->
    
        </div>
        <!--end: Container-->
    </div>
    <!-- end: Wrapper  -->          

{% endblock content %}