{% extends "gestiona/base.html" %}

{% block head_script %}
<style type="text/css">
    label { 
        display: block; 
        width: 150px;
        margin-top: 5px; 
    }
    #id_contenido {
        width: 500px;
        height: 200px;
    }
    #id_descripcion{
        width: 500px;
    }
    #id_titulo{
        width: 500px;
    }
    #id_direccion{
        width: 500px;
    }
    #boton_addimage{
        margin-left: 10px;
    }
    input[id^='id_form']{
        width:400px;
    }

    .errorlist{ color:red;}
</style>
{% endblock %}

{% block content %}

    <div class="container"> 
    {% if respuesta == 'ok' %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            La operacion se ha realizado correctamente, puede añadir más si quiere...

        </div>
    {% endif %} 
    {% if respuesta == 'nok' %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
                El formulario contiene errores...<br>
                <strong>RECUERDE VOLVER A SELECCIONAR LAS FOTOS</strong>
                <strong>{{inmueble_form.errors}}</strong>
        </div>
        {% endif %} 
        <form enctype="multipart/form-data" method="post" class="form-horizontal" action="{% url 'modInmueble' id %}">
            {% csrf_token %}
            <fieldset>
                <legend>Modificar Inmueble</legend>        
                <div class="row">
                        <div class="span6">                        

                            <div class="clearfix">
                                {{ inmueble_form.tipo.errors }}
                                <label for="id_tipo">Tipo:</label>
                                {{ inmueble_form.tipo }}
                            </div>
                            <div class="clearfix">
                                {{ inmueble_form.provincia.errors }}
                                <label for="id_provincia">Provincia:</label>
                                {{ inmueble_form.provincia }}
                            </div>
                            <div class="clearfix">
                                {{ inmueble_form.localidad.errors }}
                                <label for="id_localidad">Localidad:</label>
                                {{ inmueble_form.localidad }}
                            </div>
                            <div class="clearfix">
                                {{ inmueble_form.zona.errors }}
                                <label for="id_zona">Zona:</label>
                                {{ inmueble_form.zona }}
                            </div>
                            <div class="clearfix">
                                {{ inmueble_form.direccion.errors }}
                                <label for="id_direccion">Direccion:</label>
                                {{ inmueble_form.direccion }}
                            </div>
                            <div class="clearfix">
                                {{ inmueble_form.precio.errors }}
                                <label for="id_precio">Precio:</label>
                                {{ inmueble_form.precio }}
                            </div>
                            <div class="clearfix">
                                {{ inmueble_form.activo.errors }}
                                <label for="id_activo">Visible:</label>
                                {{ inmueble_form.activo }}
                            </div>
                            <fieldset>
                                 <legend>
                                    Imagenes del Inmueble
                                 </legend>                                 
                                    {% for i in images%}
                                    <div id="item{{i.nombre|slice:"-1:"}}" class="item">                                        
                                                <img style="width:180px;height:auto;" src="{{ i.ruta|add:i.nombre }}-thumbnail.png" />
                                                <button class="delete btn btn-danger" id="btn-item-{{i.nombre|slice:"-3:"}}"><i class="icon-trash icon-white"></i> Borrar</button>
                                        
                                    </div>
                                    {% endfor %}
                            </fieldset>

                        </div>
                        <div class="span6">
                            <!--
                            <div class="clearfix">
                                {{ inmueble_form.titulo.errors }}
                                <label for="id_titulo">Titulo:</label>
                                {{ inmueble_form.titulo }}
                            </div>
                            -->
                            <div class="clearfix">
                                {{ inmueble_form.descripcion.errors }}
                                <label for="id_descripcion">Descripcion pequeña:</label>
                                {{ inmueble_form.descripcion }}
                            </div>
                            <div class="clearfix">
                                {{ inmueble_form.metros_casa.errors }}
                                <label for="id_metros_casa">Metros Casa:</label>
                                {{ inmueble_form.metros_casa }}
                            </div>
                            <div class="clearfix">
                                {{ inmueble_form.habitaciones.errors }}
                                <label for="id_habitaciones">Habitaciones:</label>
                                {{ inmueble_form.habitaciones }}
                            </div>
                            <div class="clearfix">
                                {{ inmueble_form.banos.errors }}
                                <label for="id_banos">Baños:</label>
                                {{ inmueble_form.banos }}
                            </div>
                            <div class="clearfix">
                                {{ inmueble_form.contenido.errors }}
                                <label for="id_contenido">Descripcion grande:</label>
                                {{ inmueble_form.contenido }}
                            </div>
                            <hr>
                            <div class="clearfix">
                                <input type="submit" class="btn btn-primary btn-large btn-succes" value="Modificar Inmueble">
                            </div>
                        </div>
                </div> 
                    <!--row-->
            </fieldset>
        </form>
    </div>
{% endblock content %}

{% block tail_script %}
<script type="text/javascript">
    var url_modificar = '{% url 'modInmueble'%}';
</script>
<script src="/static/js/app/delImage.js"></script>
{% endblock %}