{% extends "gestiona/base.html" %}
{% load humanize %}

{% block head_script %}
<style type="text/css">
    label { 
        display: block; 
        width: 150px;
        margin-top: 5px; 
    }
    #id_contenido {
        width: 500px;
        height: 200px;
    }
    #id_descripcion{
        width: 500px;
    }
    #id_titulo{
        width: 500px;
    }
    #id_direccion{
        width: 500px;
    }
    #boton_addimage{
        margin-left: 10px;
    }
    input[id^='id_form']{
        width:400px;
    }

    .errorlist{ color:red;}
</style>
{% endblock %}

{% block content %}

    <div class="container"> 
        <form method="post" class="form-horizontal" action="#">
            {% csrf_token %}
            <fieldset>
                <legend>Ver Inmueble</legend>        
                <div class="row">
                        <div class="span6">                        

                            <div class="clearfix">
                                <label for="id_tipo">Tipo:</label>
                                <strong>{{casa.get_tipo_display}}</strong>
                            </div>
                            <div class="clearfix">
                                <label for="id_provincia">Provincia:</label>
                                <strong>{{casa.get_provincia_display}}</strong>
                            </div>
                            <div class="clearfix">
                                <label for="id_localidad">Localidad:</label>
                                <strong>{{ casa.localidad }}</strong>
                            </div>
                            <div class="clearfix">
                                <label for="id_zona">Zona:</label>
                                <strong>{{ casa.zona }}</strong>
                            </div>
                            <div class="clearfix">
                                <label for="id_direccion">Direccion:</label>
                                <strong>{{ casa.direccion }}</strong>
                            </div>
                            <div class="clearfix">
                                <label for="id_precio">Precio:</label>
                                <strong>{{ casa.precio|intcomma }}
                                    {%if casa.tipo == 'A'%}&euro;/mes
                                             {%else%}
                                                &euro;
                                             {%endif%}</strong>

                            </div>
                            <div class="clearfix">
                                <label for="id_activo">Visible:</label>
                                {% if casa.activo%}
                                    <strong>Si</strong>
                                {% else %}
                                    <strong>No</strong>
                                {% endif %}
                            </div>
                            <fieldset>
                                 <legend>
                                    Imagenes del Inmueble
                                 </legend>                                 
                                    {% for i in images%}
                                    <div id="item{{i.nombre|slice:"-1:"}}" class="item">                                        
                                                <img style="width:180px;height:auto;" src="{{ i.ruta|add:i.nombre }}-thumbnail.png" />
                                        
                                    </div>
                                    {% endfor %}
                            </fieldset>

                        </div>
                        <div class="span6">
                            <!--
                            <div class="clearfix">
                                {{ inmueble_form.titulo.errors }}
                                <label for="id_titulo">Titulo:</label>
                                {{ inmueble_form.titulo }}
                            </div>
                            -->
                            <div class="clearfix">
                                <label for="id_descripcion">Descripcion pequeña:</label>
                                <strong>{{ casa.descripcion }}</strong>
                            </div>
                            <div class="clearfix">
                                <label for="id_metros_casa">Metros Casa:</label>
                                <strong>{{ casa.metros_casa }}</strong>
                            </div>
                            <div class="clearfix">
                                <label for="id_habitaciones">Habitaciones:</label>
                                <strong>{{ casa.habitaciones }}</strong>
                            </div>
                            <div class="clearfix">
                                <label for="id_banos">Baños:</label>
                                <strong>{{ casa.banos }}</strong>
                            </div>
                            <div class="clearfix">
                                <label for="id_contenido">Descripcion grande:</label>
                                <strong>{{ casa.contenido }}</strong>
                            </div>
                            <hr>
                            <div class="clearfix">
                                <input type="button" onClick="location.href='{% url 'listInmueble'%}'" class="btn btn-primary btn-large btn-succes" value="Volver">
                            </div>
                        </div>
                </div> 
                    <!--row-->
            </fieldset>
        </form>
    </div>
{% endblock content %}

{% block tail_script %}
<script src="/static/js/app/addImage.js"></script>
{% endblock %}